[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = JUST A NEW Repository
[access "refs/*"]
	owner = group user/cdyydfq
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/cdyydfq
	label-Verified = -1..+1 group user/cdyydfq
	push = group user/cdyydfq
	read = group user/cdyydfq
	rebase = group user/cdyydfq
	removeReviewer = group user/cdyydfq
	submit = group user/cdyydfq
[access "refs/heads/*"]
	create = group user/cdyydfq
	push = +force group user/cdyydfq
	pushMerge = group user/cdyydfq
	read = group user/cdyydfq
[access "refs/tags/*"]
	push = group user/cdyydfq
	push = +force group user/cdyydfq
